.banner {
  background-image: url('../images/home-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 787px;
  text-align: right;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;

  }

  h3 {
    color: $primary-dark;
    font-size: 36px;
    // margin-top: 296px;
  }

  h1 {
    color: $primary-dark;
    font-size: 64px;
    font-weight: 700;

  }

  button {
    background: $primary-light;
    color: $white;
    font-size: 20px;
    margin-top: 10px;
    padding: 6px 12px;

    &:hover {
      background: $primary-dark;
    }
  }
}

.service {
  background: $second;
  padding-top: 80px;
  padding-bottom: 80px;

  h4 {
    font-size: 24px;
    font-weight: 700;
    color: $primary-dark;
  }


  .card {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;

    &-item {
      text-align: center;
      padding: 0 12px;
      width: 25%;

      h4 {
        margin-top: 24px;
      }

      p {
        margin-top: 8px;
        text-align: left;
      }
    }
  }

  .material-symbols-outlined {
    color: $primary-dark;
    font-size: 84px;
    display: block;
  }
}

.classic {
  padding-top: 80px;
  padding-bottom: 80px;

  ul {
    display: flex;
    margin-top: 48px;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;

    li {
      padding: 0 12px;
      width: calc(100%/3);
    }

    li h4 {
      padding-top: 8px;
      font-weight: 900;
      font-size: 48px;
      text-align: center;
      color: $primary-light;
      font-family: $en-font-family;
      font-style: italic;
    }
  }
}

.design {

  background-image: url(../images/index-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;

  &-double {
    background-image: url(../images/home-section4-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
  }

  &-youth {
    background-image: url(../images/home-section4-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
  }

  h2 {
    color: $white;
  }

  ul {
    display: flex;
    margin-top: 48px;
    flex-wrap: wrap;
  }

  li {
    width: 50%;

    h4 {
      background: $white;
      font-family: $en-font-family;
      color: $primary-light;
      font-style: italic;
      font-weight: 900;
      margin-top: 0;
      padding: 8px 0;
      font-size: 48px;
      text-align: center;
    }
  }
}

.recommendation {
  padding-top: 80px;
  padding-bottom: 80px;

  ul {
    display: flex;
    margin-top: 48px;
    flex-wrap: wrap;

    li {
      margin: 0 12px;
      box-shadow: 0px 2px 6px #00000029;
      width: calc((100% - 72px) / 4);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      time {
        margin-top: 72px;
        display: block;
      }
    }
  }

  .card-item-content {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;

    title {
      display: block;
    }

    time {
      font-size: 14px;
      color: #707070;
    }
  }

}

.contact {
  background-color: $second;
  padding-top: 80px;
  padding-bottom: 80px;


  form {
    width: 50%;
    margin: 0 auto;
    padding: 0 6px;
    margin-top: 48px;

    p {

      font-size: 20px;

    }

    .form-group {
      label {
        display: block;
      }

      input {
        width: 100%;
        font-size: 16px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
      }

      textarea {
        width: 100%;
        padding-top: 6px;
        padding-left: 12px;
      }
    }

    button {
      background: $primary-light;
      color: $white;
      padding: 16px 176px;
      margin: 0 auto;
      font-family: 'Noto Sans TC';
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      display: block;
      margin-top: 48px;

      &:hover {
        background: $primary-dark;
      }
    }
  }
}



@include pad {
.banner {
    background-image: url(../images/home-header-sm.png);
  }

  .service {
    .card-item {
      width: 50%;

      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-top: 24px;
      }
    }
  }

  .classic {
    ul li {
      width: 100%;
      text-align: center;

      &:nth-child(n+1) {
        margin-top: 24px;
      }

      &:nth-child(1) {
        margin-top: 0;
      }

      img {
        width: 50%;
      }
    }
  }

  .design {
    background-image: url(../images/index-bg-md.png);



    ul li {
      width: 100%;

      &:nth-child(2) {
        margin-top: 24px;
      }
    }
  }

  .recommendation {
    ul {
      li {
        width: calc((100% - 24px) /2);

        &:nth-child(2),
        &:nth-child(4) {
          margin-left: 12px;
          margin-right: 0;
        }

        &:nth-child(1),
        &:nth-child(3) {
          margin-left: 0px;
          margin-right: 12px;
        }

        &:nth-child(3),
        &:nth-child(4) {
          margin-top: 24px;
        }
      }
    }
  }

  .contact form {
    width: 81.25%;
    padding: 0;

    p {
      font-size: 16px;

    }

    button {
      padding: 16px 136px;
    }
  }

}


@include smobile {

  .banner {
    height: 396px;

    h3 {
      font-size: 16px;
      // margin-top: 144px;
    }

    h1 {
      font-size: 24px;
    }
  }

  .service {
    padding-top: 40px;
    padding-bottom: 40px;

    .card-item {
      width: 100%;

      &:nth-child(2) {
        margin-top: 24px;
      }
    }
  }

  .classic {
    padding-top: 40px;
    padding-bottom: 40px;

    ul {
      margin-top: 24px;

      li img {
        width: 100%;

      }

    }
  }

  .design {
    padding-top: 40px;
    padding-bottom: 40px;

    ul {
      margin-top: 24px;
    }

    &-double {
      background-image: url(../images/home-section4-1-sm.png);
    }

    &-youth {
      background-image: url(../images/home-section4-2-sm.png);
    }
  }

  .recommendation {
    padding-top: 40px;
    padding-bottom: 40px;

    ul {
      li {
        width: 100%;

        &:nth-child(n) {
          margin-left: 0;
          margin-right: 0;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          margin-top: 24px;
        }
      }
    }
  }

  .contact {
    padding-top: 40px;
    padding-bottom: 40px;


    & form {
      width: 100%;
      margin-top: 24px;
    }
  }

}